@import '_variables.scss';
@import '_mixins.scss';

/**
* !Circulo no se alinea correctamente
* TODO: Aumentar tamaño al símbolo '>'
*/

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    padding: 1em;
    width: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(189, 189, 189, 0.411);
    
}
.item{
    padding: 1em;
    display: flex;
    min-width: 300px;
    //? flex-basis: 200px aumenta height no width
    justify-content: space-between;
    background-color: lightgray;
    margin: 0.5em;
    p{
        display: inline-block;
    }

    /**
    * @color = valores almacenados en el array
    * @colors = nombre del array
    * @index = indice para la propiedad nth-of-type()
    */
    @each $color in $colors{
        
        &:nth-of-type(#{$index}){
            .circle{
                background-color: $color ;
            }
        }
        $index: $index+1;
    }
}

.circle{
    @include circle;
}