body {
    font: 3em sans-serif;
    background-color: rgba(0,0,0,.2);
    color: white;
}

.grid {
    padding: 1rem;
}

.grid-item {
    padding: 1.5rem;
    border-radius: 1rem;
}

.grid-item:nth-child(-2n+8),.grid-item:nth-child(8) ~ .grid-item:nth-child(-2n+15),.grid-item:nth-child(16) ~ .grid-item:nth-child(-2n+24),.grid-item:nth-child(24) ~ .grid-item:nth-child(-2n+31), .grid-item:nth-child(32) ~ .grid-item:nth-child(-2n+40),.grid-item:nth-child(40) ~ .grid-item:nth-child(-2n+47), .grid-item:nth-child(48) ~ .grid-item:nth-child(-2n+56), .grid-item:nth-child(56) ~ .grid-item:nth-child(-2n+63) {
    background-color: black;
    color: white;
}

/********************************************************************/


.grid {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
}
