*,*::before, *::after, *:before, *:after{ /*Aplicas a todos los elementos
    y a todos los pseudo elementos*/
    box-sizing: border-box; /*Los .box no ocupan más espacio del "necesario"*/
}

.box {
    width: 25%;
    background-color: salmon;
    color: white;
    border: 1px solid blue;
    float: left; /*Haces que los elementos floten a la izquierda de la página
    para que se comporten como elementos in-line*/
}
