.wrapper{
    margin: 5em auto;
    padding: 2em;
    background-color: rgb(240,240,180);
}
img{
    float: right;
    margin: 2em;
}
p{
    text-align: justify;
    padding: 2em;

    &:nth-of-type(2){
        clear: both;
    }
}
