$navbar-color: #2980b9; //* color de fondo del navbar
$color_fuente: #c8e0f0; //* color de la fuente del navbar
$body_bgc: #eaedf2; //* color de fondo del body
$file_path: "../img/"; //* ruta relativa a la carpeta imagenes
