@import "_variables.scss";
@import "_mixin.scss";
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
	font-family: "Raleway", sans-serif;
	background-color: $body_bgc;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1em;
	@if $body_bgc == #000 {
		.nombre-pueblo{
			color: $color_fuente !important;
		}
	}
}

.nav-bar {
	background: $navbar-color;
	color: $color_fuente;
	@include botones_li;
}

main {
	margin-top: 1em;
	@include centerXY;
	width: 90%;
}

.nombre-pueblo {
	font-weight: 300;
	font-size: 2.1em;
	align-self: flex-start;
}

article {
	background-color: $article_bgc;
	padding: 0.8em;
	margin-bottom: 2em;
	border-radius: 8px;
	width: 100%;
}

.intro {
	text-align: justify;
	margin: 1em auto;
	width: 80%;
}

@include tabla;
@include mapa;
@include searchBox;

@media (max-width: 550px) {
	ul {
		li {
			&:nth-last-child(1) {
				display: none;
			}
		}
	}

	.table-container {
		justify-content: center;
		flex-wrap: wrap;

		.tabla {
			tr {
				td:nth-last-child(1) {
					text-align: right;
				}
			}
		}
	}
}
@include imagenes;
