@import '_variables.scss';
@import '_mixin.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: $body_bgc;
    font-size: 1em;
}

.nav-bar {
    background: $navbar-color;
    color: $color_fuente;
    @include botones_li;
}

main {
    width: 90%;
    margin: 2.8em auto;
}

.nombre-pueblo {
    font-weight: 300;
    font-size: 2.1em;
}

article {
    background-color: white;
    padding: .8em;
    margin-bottom: 2em;
}

.intro {
    text-align: justify;
    margin: 1em auto;
    width: 80%;
}

@include tabla;
@include mapa;
@include searchBox;

@media (max-width: 550px) {
    ul {
        li {
            &:nth-last-child(1) {
                display: none;
            }
        }
    }

    .table-container {
        justify-content: center;
        flex-wrap: wrap;

        .tabla {
            tr {
                td:nth-last-child(1) {
                    text-align: right;
                }
            }
        }

    }
}
@include imagenes;