.card {
    height: 20rem;
    width: 15rem;
    background-color: deepskyblue;
    border: 10px solid #DDD;
    color: white;
    font-size: 3em;
    padding: 1em;
}

@for $i from 1 through 5{
    $medidas: $i - 1;
    .card:nth-child(#{$i}){
        position: absolute;
        left: 8rem * $medidas;
        top: 5rem * $medidas;
        @if ($i == random(5)){
            z-index: 1;
        }
    }
}
