header {
    padding: 3em;

    /**
     * STEP 01
     */
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
        color: #8b8b8b;
        text-transform: uppercase;
        font-size: 0.9em;
        // flex-grow: 1;
        /**
        * STEP 02
        */        
        ul {
            display: flex;
            // justify-content: space-around;
            // align-items: center;
            li {
                padding: 1em;
            }
        }
    }
    
    .tools {
        >span {
            background-color: #8b8b8b;
            display: inline-block;
            font-size: 1.5em;
            // padding: 1.5em;
            height: 50px;
            width: 50px;
            text-align: center;
            line-height: 50px;
            color:white;
            &:last-child {
                margin-left: .5em;
            }
        }
    }
}