.wrapper {
    width: 80%;
    background-color: rgba(0,0,0,.2);
    height: 30rem;
    margin: 3rem auto;
    position: relative;
}

.box {
    background-color: salmon;
    width: 50%;
    padding: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); // X e Y respectivamente
}